@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
.width20{
    width: 20rem;
    color: #0a0a0a;
}
.leaflet-bar-part{
    width: 10rem!important;
}
::-webkit-input-placeholder {
    color:black;
}
.leaflet-center {
    left: 50%;
    transform: translate(-50%, 0%);
}

.leaflet-middle {
    top: 50%;
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    transform: translate(0%, -50%);

}

.leaflet-center.leaflet-middle {
    transform: translate(-50%, -50%);
}
.custom-search-container {
    position: absolute;
    display: flex;
    align-items: center;
    background: white;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 900000000;
    display: flex;
    margin-top: 10px;
    flex-direction: row-reverse;
    justify-self: anchor-center;
}

.searchInput {
    border: none;
    outline: none;
    padding: 8px 12px;
    font-size: 14px;
    width: 20rem;
    border-radius: 5px;
    border: none !important;
}

.searchIcon {
    width: 20px;
    height: 20px;
    margin-left: -30px;
    cursor: pointer;
}

.custom-search-bar {
    width: 100% !important;
    max-width: 400px !important;
    height: 45px !important;
    font-size: 16px !important;
    border-radius: 8px !important;
    border: 2px solid #007bff !important;
    padding: 10px !important;
    background-color: white !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2) !important;
}
.searchLabel {
    font-size: 14px;
    font-weight: bold;
    padding: 4px 10px;
    border-radius: 8px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    width: max-content;
    gap: 5px;
}
.searchText{
    color: #0a0a0a;
}
.searchCityLabel {
    color: blueviolet;
}

.leaflet-bar-part{
width: -webkit-fill-available !important;
}
